[user]
	useConfigOnly = true
[alias]
	amend = commit --amend --reuse-message HEAD
	amendall = commit --amend -a --reuse-message HEAD
	amendmess = commit --amend
	amendn = commit -n --amend --reuse-message HEAD
	author-reset = commit --amend --reset-author
	autofixmaster = rebase -i --autosquash master
	cd = checkout
	ch = checkout
	chmas = checkout master
	commitm = commit -m
	diffupstream = diff @{upstream}
	fixup = commit -n --fixup
	force = push -u --force --force-with-lease origin HEAD
	hub = "!github $@"
	l = log --graph --decorate
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
	msg = "!f() { args=\"$@\"; git commit -m \"$args\"; }; f"
	obranch = branch --sort=committerdate
	ours = "!f() { git checkout --ours $@ && git add $@; }; f"
	prunemerged = "! git branch --format '%(refname:short)' --merged origin/master | grep -v -e '^master$' | xargs -L 100 git branch -d"
	puff = "!f() { echo 💨; git push -u --force --force-with-lease; }; f"
	purr = "!f() { echo 🐱; PUSH_BRANCH=$(git rev-parse --verify --abbrev-ref @{push}); git pull --rebase origin \"${PUSH_BRANCH#*/}\"; }; f"
	pushup = push -u origin HEAD
	reb = rebase
	rebi = rebase -i
	rebo = rebase -i origin/master
	reblast = "!f() { git rebase -i HEAD~${1:-2}; }; f"
	rebroot = rebase -i --root master
	rebtil = "!f() { git rebase -i $1~; }; f"
	resetupstream = reset --hard @{upstream}
	squash = commit --squash HEAD
	theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"
	tip = log -n 1 HEAD
[diff]
	submodule = log
[fetch]
	recurseSubmodules = on-demand
[status]
	submoduleSummary = true
[include]
	path = ./.private.gitconfig
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[core]
	excludesfile = ~/.gitignoreglobal
	quotepath = off
