/*
!.bash_profile
!.config/fish/config.fish
!.config/fish/fish_plugins
!.gitconfig
!.gitignore
!.hyper.js
!.ideavimrc
!.install.sh
!.private.bash_profile
!.private.gitconfig
!.private.zshrc
!.rake
!.zprofile
!.zshrc
!/bin
!/etc
!README.md
!dotfiles-private
